/*colors*/
$white: #FFF;
$black: #000;
$green99: #FDFEFB;
$green97: #FAFDF2;
$green95: #F6FBE9;
$green90: #EEF8D3;
$green85: #E5F5BD;
$green80: #DCF1A7;
$green75: #D3EE91;
$green70: #CBEA7B;
$darkgreen95: #DDEDE8;
$darkGreen80: #BCDCD1;
$darkGreen60: #79B9A4;
$darkGreen40: #468671;
$darkGreen30: #346454;
$darkGreen25: #2C5446;
$darkGreen20: #234338;
$darkGreen15: #1A3129;
$grey99: #FCFCFC;
$grey97: #F7F7F7;
$grey95: #F2F2F2;
$grey90: #E6E6E6;
$grey60: #98989A;
$grey40: #656567;
$grey35: #59595A;
$grey30: #4C4C4D;
$grey20: #333;
$grey15: #262626;
$grey10: #191919;


/*fonts*/
$fontFamily: "Urbanist";
$lineHeight: 150%;
$fontWeightTitulo: 600;
$fontWeightParrafo: 500;
$fontSizeTitulo: 48px;
$fontSizeParrafo: 18px;



/*MEDIA QUERY - BREAKPOINTS */
$breakpoint-movil: 576px;
$breakpoint-tablet: 992px;
$breakpoint-escritorio: 1200px;