
h2 {
    color: #009688;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

select,
input[type="date"],
input[type="time"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    height: 36px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

.custom-button {
    background-color: #06446d;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #1b90cf;
}

.custom-button:focus,
.custom-button:checked {
    background-color: #a31c1c;
    /* Color cuando está activo */
}