.container{
    width: 600px;
    background: grey;
}
.element{
    width: 200px;
    height: 200px;
    background-color: indigo;
    animation: move 5s infinite;
    animation-timing-function: steps(5);
}

@keyframes move{
    to{
        transform: translateX(500px);
    }
}